BOT_TOKEN=your_bot_token_here
GUILD_ID=your_server_id_here

# Ticket System
TICKET_CATEGORY_ID=category_id_for_tickets
TICKET_PANEL_CHANNEL_ID=channel_id_for_ticket_panel
TICKET_LOG_CHANNEL_ID=channel_id_for_ticket_logs
TRANSCRIPT_CHANNEL_ID=channel_id_for_transcripts

# Application System
APP_PANEL_CHANNEL_ID=channel_id_for_application_panel
APP_REVIEW_CHANNEL_ID=channel_id_for_new_applications
APP_ACCEPTED_CHANNEL_ID=channel_id_for_accepted_applications
APP_REJECTED_CHANNEL_ID=channel_id_for_rejected_applications

# Multiple Staff Roles (comma separated - CAN BE UP TO 10 ROLES)
STAFF_ROLES=111111111111111111,222222222222222222,333333333333333333,444444444444444444,555555555555555555

# Application Review Role (only this role can approve/deny)
REVIEWER_ROLE_ID=1497186451706871948

# Role given when application is accepted
ACCEPTED_ROLE_ID=1326638345039646841

# Optional
BANNER_URL=https://media.discordapp.net/attachments/1480969775344652470/1496647110525845625/DF7E4FDA-66D3-49FF-BD5E-7C746253AE2D.png
